* {
    box-sizing: border-box;
}

:root{
    --color: #0084ff;
    --body: #EEEFEF;
    --container: #FFFFFF;
    --color-font: black;
    --color-input: #DCDDE0;
    --color-shadow: rgba(0, 0, 0, 0.1);
}

body {
    max-width: 100%;
    
    background-color: var(--body);
    margin: 0 auto;
    padding: 16px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.img-sign {
    width: 100%;
    max-width: 400px;  
    margin-bottom: 15px;  
}
.img-sign img {
    width: 100%;
    height: auto;          
}
.container {
    width: 100%;
    max-width: 400px;
    background-color: var(--container);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px var(--color-shadow);
}

.container h1 {
    text-align: center;
    color: var(--color);
    font-size: 30px;
}

.container form {
color: var(--color-font);
font-weight: bold;
}

.container-name {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin-bottom: 16px;    
    width: 100%;
}

.firstname, .lastname , .email-password {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-name input, .email-password input {
    padding: 8px;
    margin: 15px 0;
    border: 2px solid var(--color-input);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}
.container-name input:focus, .email-password input:focus {
    border-color: var(--color);
    outline: none;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.checkbox input {
    margin-right: 8px;
}

.checkbox a {
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
}
.checkbox a:hover{
    text-decoration: underline;
    color: red;
}

.container button {
    width: 100%;
    padding: 13px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--container);
    background-color: var(--color);
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.container button:hover {
    background-color: #044888;
    transition: 0.9s;
}

@media (min-width: 768px){
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
    }
    .img-sign {
        margin-right: 20px;    
    }
}

@media (max-width:768px) {
    .container {
            margin-bottom: 30px;
    }
}