* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #020305;
    --secundary-color: #FFF;
    --tertiary-color: #0D0F12;
    --text-p-cards: #171E27;
}

body {
    background-color: var(--secundary-color);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 170rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.header-container {
    width: 100%;
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    max-width: 13rem;
    cursor: pointer;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.menu-mobile {
    width: 3rem;
}

.menu-mobile img {
    width: 100%;
    height: auto;
}

.nav-header {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 7.2rem;
    width: 100%;
    height: calc(100vh - 7.16rem);
    background-color: #3f4865ea;
    z-index: 99;
}


.nav-list {
    list-style: none;
    width: 100%;
}


.nav-item a,
.bnt-mobile {
    display: block;
    text-decoration: none;
    color: var(--secundary-color);
    background-color: #3f4865f1;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
    border-bottom: #2a2f3e83 3px solid;
}

.bnt-mobile {
    display: none;
    border-style: none;
    position: absolute;
    top: 35.7rem;
    right: 0;
    justify-content: center;
    border-bottom: #2a2f3e83 3px solid;
    z-index: 99;
}

.ativo {
    display: flex;
}

@media (min-width:768px) {
    .menu-mobile {
        display: none;
    }

    .nav-header {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        height: auto;
        background-color: transparent;

    }

    .nav-list {
        display: flex;
        width: auto;
        margin-top: auto;
    }


    .nav-item {
        margin-right: 1.4rem;
    }

    .nav-item a,
    .bnt-mobile {
        color: var(--primary-color);
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .bnt-mobile {
        position: static;
        width: auto;
    }

    .nav-item a:hover {
        text-decoration: underline;
    }

    .bnt-mobile {
        background-color: var(--tertiary-color);
        box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
        color: var(--secundary-color);
        padding: 1.6rem 4rem;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 12px;
        transition: all 0.3s ease;
        display: block;
    }

    .bnt-mobile:hover {
        background-color: rgba(0, 0, 0, 0.795);
        transition: all 0.3s ease;
    }
}

.bnt-all:hover {
    background-color: rgba(0, 0, 0, 0.795);
    transition: all 0.3s ease;
}


@media (min-width: 1024px) {
    .nav-item a {
        font-size: 1.8rem;
    }

    .nav-item {
        margin-right: 3rem;
    }

    .logo-container {
        min-width: 19.1rem;
    }
}

section {
    position: relative;
}

.container-bg {
    width: 100%;
    max-width: 170rem;
    margin: 0 auto;
}

.card-bg-all {
    width: 100%;
    height: 38.1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-bg-astronauta {
    background-image: url(../img/planet.jpg);
    background-position: bottom left;
    display: flex;
}

.card-bg-all h2 {
    color: var(--secundary-color);
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.3;
}

.title-bg {
    margin-top: 2rem;
    margin-left: 2rem;
    max-width: 30rem;
    min-width: 30rem;
}


.container-astronauta-girl {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.content-astranauta {
    order: 2;
}

.content-all-p {
    color: #171E27;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.content-astranauta .content-all-p {
    margin-bottom: 2.4rem;
}

.bnt-all {
    background-color: var(--tertiary-color);
    box-shadow: 0px 19px 45px -10px rgba(13, 15, 18, 0.50);
    color: var(--secundary-color);
    padding: 1.5rem 3rem;
    border-style: none;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.links-astronauta a {
    display: flex;
    align-items: center;
    color: #020305;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 3.5rem;
}

.links-astronauta a img {
    margin-left: 1rem;
}

.bg-astronauta-girl {
    margin-bottom: 7rem;
    position: relative;
    order: 1;
    height: 50rem;
    width: 100%;
    min-width: 3.1rem;
    max-width: 40rem;
    background-image: url(../img/lost-in-space-3d-cute-girl-in-astronaut-costume-transparent-background-free-png\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
}


.cards-item-astronauta {
    background-color: #fff;
    position: absolute;
    border-radius: 24px;
    padding: 1.5rem;
    box-shadow: 0px 20px 39px -12px rgba(99, 117, 124, 0.40);
}

.cards-item-astronauta h3 {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.cards-item-astronauta img {
    width: 3.2rem;
    height: auto;
    margin-right: 1rem;
}

.cards-item-astronauta:nth-child(1) {
    height: 11.7rem;
    width: 17.2rem;
    top: 51%;
    left: -4%;
}

.img-objects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

.img-objects img:nth-child(1) {
    width: 9rem;
    height: 100%;
    margin: 0;
}

.img-objects img:nth-child(2) {
    width: auto;
    height: 4rem;
    margin: 0;
}

.cards-item-astronauta:nth-child(2) {
    width: 15rem;
    height: 9.5rem;
    top: 35%;
    left: 51%;
}

.cards-item-astronauta:nth-child(2) .img-objects {
    width: 100%;
    height: auto;
}

.cards-item-astronauta:nth-child(3) {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    width: 100%;
    bottom: -9%;
}

.cards-item-astronauta:nth-child(3) span {
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
    text-align: end;
}

/* Media astranuta */

@media (min-width: 768px) {

    .container-bg {
        margin-top: 2rem;
        max-width: 170rem;
        padding: 0 2.5rem;
    }

    .card-bg-astronauta {
        border-radius: 40px;
    }

    .card-bg-all h2 {
        font-size: 4rem;
    }

    .container-astronauta-girl {
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        top: 25%;
    }

    .bg-astronauta-girl {
        order: 2;
        width: auto;
        min-width: 35rem;
        max-width: 40.7rem;
    }

    .content-astranauta {
        order: 1;
        width: 100%;
        max-width: 57.2rem;
        align-self: flex-end;
        position: relative;
        top: -3rem;
    }

    .content-all-p {
        font-size: 1.6rem;
    }

    .links-astronauta {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        align-items: center;
        white-space: nowrap;
        justify-content: space-between;
    }

    .bnt-all {
        font-size: 2rem;
    }

    .links-astronauta a {
        font-size: 1.8rem;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {

    .container-astronauta-girl {
        top: -15%;
    }

    .bg-astronauta-girl {
        min-width: 60rem;
        background-size: 60%;
        height: 65rem;
    }

    .cards-item-astronauta h3 {
        font-size: 1.8rem;
    }

    .img-objects {
        margin-top: 1.5rem;
    }

    .img-objects img:nth-child(1) {
        width: 15rem;
        height: 100%;
    }

    .img-objects img:nth-child(2) {
        width: 8rem;
        height: 100%;
    }

    .cards-item-astronauta:nth-child(1) {
        width: 30rem;
        height: 16rem;
    }

    .cards-item-astronauta:nth-child(2) {
        width: 26rem;
        height: 14rem;
        top: 40%;
    }

    .cards-item-astronauta:nth-child(3) {
        width: 74%;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .cards-item-astronauta:nth-child(3) span {
        font-size: 2.4rem;
        text-align: center;
    }
}

@media (min-width: 1100px) {
    .content-astranauta {
        top: -6rem;
    }
}

/* Sponsors */

.sponsors {
    margin-top: 73rem;
}

@media (min-width:768px) {
    .sponsors {
        margin-top: 35rem;
    }
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem 2rem;
}

.sponsors img {
    width: 14rem;
}

@media (min-width:1024px) {
    .sponsors {
        justify-content: space-between;
    }

    .sponsors img {
        width: 20rem;
    }
}

/* End Sponsors */


/* Section Article */

.container-article h1 {
    color: var(--tertiary-color);
    font-size: 3.2rem;
    font-weight: 800;
    width: 100%;
    max-width: 40rem;
    min-width: 32.7rem;
    margin: 0 auto;
    line-height: 1.3;
    margin-top: 7rem;
    margin-bottom: 4.2rem;
}

.container-cards-article {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-article {
    width: 100%;
    min-width: 25.2rem;
    max-width: 33.6rem;
    margin-bottom: 4rem;
}

.icon-article {
    border-radius: 12px;
    background: #A9C2CB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;
    margin-bottom: 1.5rem;
}

.icon-article img {
    width: 100%;
    height: auto;
}

.container-article .card-article:nth-child(1) .icon-article img {
    width: 80%;
    height: auto;
}

.title-cards {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 800;
}

.card-article .title-cards {
    margin-bottom: 1.5rem;
}

.content-all-cards {
    color: var(--text-p-cards);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}


@media (min-width:1024px) {
    .container-article {
        display: flex;
        justify-content: space-between;
        margin-top: 12rem;
        gap: 4rem;
    }

    .container-article h1 {
        margin: 0;
        font-size: 4.4rem;
    }

    .container-cards-article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-article {
        width: 2rem;
    }
}

@media (min-width:1400px) {
    .container-article {
        justify-content: space-around;
    }
}

/* End Section Article */